
:root{
    --navbar-color: #6096B4;
    --body-color: #93BFCF;
    --card-color: #EEE9DA;
    --button-color: #BDCDD6;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding:0
}

body{
    min-height: 100vh;
    background-color: var(--body-color);

}

header{
    background-color: var(--navbar-color);
    text-align: center;
}

.bookmark{
    height: 30px;
    position: absolute;
    right: 10px;
    top:0;
}

h1{
    padding: 30px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 150px;
}

.q-container{
    background-color:var(--card-color);
    margin: 30px 40px;
    padding: 30px;
    border: 1px solid gray;
    box-shadow: 10px 10px 10px gray;
    border-radius: 7px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    text-align: center;
    border-radius: 7px;
}

.btn-answer-show{
    width: 150px;
    height: 50px;
    background-color:var(--button-color);
    margin: 20px;
}

 .p-answer{
    text-align: center;
    margin: 15px;
}

.tags-container{
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 5px;
    margin-top: 10px;
}

.btn-tag{
    padding: 5px;
}

footer{
background-color: var(--navbar-color);
position: fixed;
bottom: 0;
width: 100%;
padding: 20px;
display: flex;
justify-content: space-evenly;
}

.icon{
    height: 50px;
}

.icon-profile{
    height: 30px;
}

.btn-counter{
    border: solid 1px;
    border-radius: 5px;
    padding: 10px;
    min-width: 80px;
}

.main-profile{
    padding: 40px;
    gap: 50px;
}

.sect{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form-container{
    padding: 40px;
    gap: 20px;
}

.form-input{
    margin-bottom: 15px;
    border-radius: 7px;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.btn-submit{
    margin:0;
}








/* austricksen
ausgetrickst haben */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }